.product-detail-content {
  background-color: #373737;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-info-section-wrapper {
  flex: 1;
}

@media (min-width: 769px) {
  .product-detail-content {
    padding: 20px;
  }
}

@media (min-width: 1025px) {
  .product-detail-content {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px;
  }
}
