.avatar-image,
.avatar-placeholder {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  flex-shrink: 0;
  background: #e0e0e0;
}

.avatar-image {
  border: 2px solid white;
}

.avatar-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  background: #e0e0e0;

  i {
    color: #666;
  }
}

.avatar-small {
  width: 35px;
  height: 35px;

  &.avatar-placeholder i {
    font-size: 1.5rem;
  }
}

.avatar-medium {
  width: 40px;
  height: 40px;

  &.avatar-placeholder i {
    font-size: 1.5rem;
  }
}

.avatar-large {
  width: 80px;
  height: 80px;

  &.avatar-placeholder i {
    font-size: 3rem;
  }
}
