
$breakpoints: (
  tablet: 768px,
  desktop: 1200px
);

@mixin respond-to($device) {
  @if map-has-key($breakpoints, $device) {
    @media (min-width: map-get($breakpoints, $device)) {
      @content;
    }
  } @else {
    @warn "No value found for `#{$device}` in $breakpoints map.";
  }
}

@mixin tablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}