.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 60px 15px 30px;
  min-height: 100vh;
}

@media (min-width: 769px) {
  .product-detail-container {
    padding: 100px 40px 60px;
  }
}

@media (min-width: 1025px) {
  .product-detail-container {
    padding: 250px 60px 80px;
  }
}
