.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 40px 15px 20px;
  min-height: 110vh;
}

@media (min-width: 769px) {
  .product-detail-container {
    padding: 60px 30px 40px;
  }
}

@media (min-width: 1025px) {
  .product-detail-container {
    padding: 80px 40px 50px;
  }
}
