.menuDesktop-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuDesktop-modal-container {
  width: 100%;
  max-width: 800px;
  background-color: #2d2d2d;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  .nav-logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  }
}
