:root {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #e3e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  overflow-x: hidden;
}




